In [14]:
import pandas as pd

DATA = "../data/Mall_Customer_noCustomerID.csv"
df = pd.read_csv(DATA)

In [15]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline


preprocessing = ColumnTransformer(
    [
        ("min_max", MinMaxScaler(), ["Age", "Annual Income (k$)", "Spending Score (1-100)"]),
        ("onehot", OneHotEncoder(), ["Gender"]),
        
    ]
)

preprocessing.fit_transform(df)
df = pd.DataFrame(
    preprocessing.fit_transform(df),
    columns=preprocessing.get_feature_names_out(),
)

df.head()

,min_max__Age,min_max__Annual Income (k$),min_max__Spending Score (1-100),onehot__Gender_Female,onehot__Gender_Male
0,0.019231,0.000000,0.387755,0.0,1.0
1,0.057692,0.000000,0.816327,0.0,1.0
2,0.038462,0.008197,0.051020,1.0,0.0
3,0.096154,0.008197,0.775510,1.0,0.0
4,0.250000,0.016393,0.397959,1.0,0.0

In [20]:
df.to_csv("../data/Mall_Customer_noCustomerID_scaled.csv", index=False)

AttributeError: 'ColumnTransformer' object has no attribute 'feature_names_out'